<section class="row">
	<image src="{{details.image}}" alt="{{details.title}}"></image>
	<div class="content">
		<a href="/movies/">Go back</a>
		<h3>{{details.title}}</h3>
		<h4>Stars</h4>
		<ul>
			{{#each details.stars}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
		<p>{{details.description}}</p>
		<p>{{#each details.showtimes}} 
				{{this}}
				{{/each}}
		</p>
	</div>
</section>

{{!-- <section class="row">
	<image src="{{moviedetails.image}}" alt="{{moviedetails.title}}">
	<div class="content">
		<a href="/movies/">Go back</a>
		<h3>{{moviedetails.title}}</h3>
		<h4>Stars</h4>
		<ul>
			{{#each moviedetails.stars}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
		<p>{{moviedetails.description}}</p>
		<p>{{#each moviedetails.showtimes}} 
				{{this}}
				{{/each}}
		</p>
	</div>
</section> --}}